
.fauxbullet, /*DEPRECATED*/
.decorative { display: none; }

#uwasearch label { display: block; }

/*
     FILE ARCHIVED ON 09:16:33 Sep 01, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:34:10 Aug 11, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 2.393
  exclusion.robots.policy: 0.267
  PetaboxLoader3.resolve: 119.885 (2)
  esindex: 0.014
  CDXLines.iter: 21.91 (3)
  LoadShardBlock: 74.377 (3)
  load_resource: 162.797
  PetaboxLoader3.datanode: 72.648 (5)
  captures_list: 120.155
  exclusion.robots: 0.287
*/