
.fauxbullet, /*DEPRECATED*/
.decorative { display: none; }

#uwasearch label { display: block; }

/*
     FILE ARCHIVED ON 21:44:45 Nov 17, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:34:59 Aug 11, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.resolve: 70.42 (2)
  load_resource: 117.093
  exclusion.robots.policy: 0.14
  RedisCDXSource: 0.727
  esindex: 0.009
  LoadShardBlock: 63.721 (3)
  PetaboxLoader3.datanode: 100.036 (5)
  captures_list: 89.584
  exclusion.robots: 0.15
  CDXLines.iter: 16.241 (3)
*/